@import "tailwindcss";

.cake{
  aspect-ratio: 4/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
  background-color: transparent;
}
.broken-edges {
  clip-path: polygon(
    5% 0%, 95% 0%, 100% 10%, 100% 90%,
    95% 100%, 5% 100%, 0% 90%, 0% 10%
  );
}
@theme {
  --font-display: "Oswald", sans-serif; 
}
